# Python
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.db
*.sqlite3

# Environnement / secrets
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
dist/
.vite/
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
